body {
    background-color: #f1eeff
}

.main-content {
    background-color: #fdfdfe;
    border-radius: 5px
}

.form-control {
    height: 50px;
    border: 2px solid #eee
}

.form-control:focus {
    box-shadow: none;
    border: 2px solid blue
}

.search {
    height: 50px;
    background-color: blue
}

.card {
    border: 2px solid blue;
    padding: 5px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center
}

.card .score {
    font-size: 10px
}

.card p {
    font-size: 10px;
    margin-top: 20px
}