<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/logpage.css" rel="stylesheet">
</head>
<body>
    
    <img src="/static/20211209_192521.png" width="160px">
    <div class="form">
    <p>Login</p>
    <form>
<input type="text" name="username" placeholder="Username">
<input type="password" name="password" placeholder="Password">
<button>Login</button>
<p class="message">Register now..! <a href="bold.html">Create an account</a></p>
    </form>
</div>
</body>
</html>