{% extends 'master.html' %}
{% block content %}
  <section class="page1"> 
    <img src="/static/images/20211209_192521.png" width="160px">
    <div class="form">
    <p>Login</p>
    <form action="/app1/templates/homepage.html">
<input type="text" name="username" id="username1" placeholder="Username">
<span id="un1"></span>
<input type="password" name="password" id="pw" placeholder="Password">
<span id="pw1"></span>
<button onclick="return login()">Login</button>
<p class="message">Register now..! <a href="{% url 'app1:signup' %}">Create an account</a></p>
    </form>
</section> 

    {% endblock %}