<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/userpages/logpage.css" rel="stylesheet">
    <script src="/static/userpages/login.js"></script>
</head>
<body>
    
    <img src="/static/images/20211209_192521.png" width="160px">
    <div class="form">
    <p>Login</p>
    <form action="/app1/templates/homepage.html">
<input type="text" name="username" id="username1" placeholder="Username">
<span id="un1"></span>
<input type="password" name="password" id="pw" placeholder="Password">
<span id="pw1"></span>
<button onclick="return login()">Login</button>
<p class="message">Register now..! <a href="{% url 'app1:signup' %}">Create an account</a></p>
    </form>
</div>
</body>
</html>