{% extends 'master.html' %}
{% block content %}
<section class="page1">

    <img src="/static/images/20211209_192521.png" width="160px">
    <div class="sign">
    <p>Sign Up</p>
  <form action="/app1/templates/homepage.html">
<input type="text" id="name1" name="username" placeholder="First Name">
<span id="name_err1"></span>
<input type="text" id="name2" name="username" placeholder="Second Name">
<span id="name_err2"></span>
<input type="number" id="age1" name="age" placeholder="Your Age">
<span id="age_err"></span>
<input type="email" id="mail1" name="email" placeholder="Email Address">
<span id="mail_err"></span><br/>

<button onclick="return sign()" class="signup">Sign Up</button>
</form>
</section>

{% endblock %}