<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/sign.css" rel="stylesheet">
</head>
<body>
    <img src="/static/20211209_192521.png" width="160px">
    <div class="sign">
    <p>Sign Up</p>
    <form>
<input type="text" name="username" placeholder="First Name">
<input type="text" name="username" placeholder="Second Name">
<input type="number" name="age" placeholder="Your Age">
<input type="email" name="email" placeholder="Email Address"><br/>
<!-- <input type="password" name="password" placeholder="Password"> -->
<button class="signup"><a href="{% url 'app1:loginpage' %}">Sign Up</a></button>
<!-- <p class="message">Register now..! <a href="bold.html">Create an account</a></p> -->
    </form>
</body>
</html>